* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html {
  overflow-y: scroll;
}

.navbar {
  background-color: #007bff;
  padding: 30px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
  padding: 0;
}

.navbar-list li {
  margin: 0 15px;
}

.navbar-list a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.navbar-list a:hover {
  color: #dad1d1;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 150px;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  gap: 15px;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.whatsapp-h1 {
  color: #0056b3;
}

.messenger-h1 {
  color: #0056b3;
}

input[type="file"] {
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin: 0 auto;
  transition: border-color 0.3s ease;
  width: 100%;
  max-width: 280px;
}

input[type="file"]:focus {
  outline: none;
  border-color: #0056b3;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

button:hover {
  background-color: #0056b3;
}

#notification {
  margin-top: 92px;
  color: #ff0000;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
}

#notification-messenger {
  margin-top: 92px;
  color: #ff0000;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
}

img {
  min-width: 60px;
  min-height: 60px;
  width: 50px;
  height: 50px;
}

.container-two,
.container-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.container-two #notification,
.container-three #notification {
  min-height: 20px;
  margin-bottom: 4px;
}

.whatsapp-img {
  width: 60px;
  height: 60px;
}

.intro-section {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #f7f9fc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 90%;
  max-width: 600px;
  z-index: 1;
  margin-top: 80px;
}

.intro-heading {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.intro-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

.info-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.info-icon {
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f8ff;
  border: 2px solid #007bff;
  font-size: 0.8rem;
  margin-top: 2px;
}

.tooltip {
  position: absolute;
  background-color: #fff;
  color: #0056b3;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  max-width: 600px;
  width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: none;
}

.info-container:hover .tooltip {
  display: block;
}

.info-msg {
  display: flex;
}

#whatsapp-input {
  height: 40px;
  width: 280px;
}

#messenger-input {
  height: 40px;
  width: 280px;
}

.input-btn-container {
  display: flex;
  gap: 5px;
}

.input-btn-container input {
  padding: 4px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-btn-container input:focus {
  border-color: #0056b3;
}
